/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-family: Helvetica, serif;
  font-size: 62.5%;
  font-display: swap;
  height: 100%;
}
body {
  height: 100%;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
  margin: 30px 0 0 0;
}
h4,
h5,
h6 {
  font-size: 2.4rem;
  margin: 30px 0 0 0;
}
a {
  color: #000;
  text-decoration: none;
}
img {
  transition: all 0.2s ease-in-out;
}
#root {
  max-width: 1368px;
  margin: 0 auto;
  padding: 30px;
}
.overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  color: white;
  font-size: 4rem;
  padding: 30px;
}
.overlay span {
  cursor: pointer;
  text-align: right;
  display: block;
  width: 100%;
}
.overlay > img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  padding: 20px 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 100px 0;
}
@media (max-width: 1024px) {
  header {
    flex-direction: column;
  }
}
header .logo {
  width: 35%;
  min-width: 375px;
}
@media (max-width: 1024px) {
  header .logo {
    margin: 0 0 50px 0;
  }
}
header .logo h1 {
  font-weight: bold;
  letter-spacing: -2px;
}
header nav {
  width: 45%;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}
@media (max-width: 1200px) {
  header nav {
    width: 55%;
  }
}
@media (max-width: 1024px) {
  header nav {
    width: 80%;
  }
}
@media (max-width: 768px) {
  header nav {
    width: 100%;
  }
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  header nav a {
    padding: 15px;
  }
}
footer {
  padding: 20px 0;
}
footer p {
  font-size: 2rem;
  text-align: center;
}
.welcome {
  margin: 0 0 100px 0;
  padding: 0 0 100px 0;
  border-bottom: 1px #ccc solid;
}
@media (max-width: 500px) {
  .welcome {
    margin: 0 0 50px 0;
    padding: 0 0 30px 0;
  }
}
.welcome h2 {
  margin: 0 0 30px 0;
}
.welcome p {
  font-size: 2.2rem;
  line-height: 3rem;
  padding: 20px 0 10px;
  width: 70%;
  left: none;
}
@media (max-width: 1200px) {
  .welcome p {
    width: 65%;
  }
}
@media (max-width: 1024px) {
  .welcome p {
    width: 100%;
  }
}
.welcome .phone {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 1024px) {
  .welcome .phone {
    justify-content: space-evenly;
  }
}
@media (max-width: 768px) {
  .welcome .phone {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .welcome .phone {
    padding: 40px 0 10px;
  }
}
.welcome .phone span {
  display: flex;
  align-items: center;
  background: black;
  color: white;
  border-radius: 30px;
  padding: 20px 60px 20px 30px;
  margin: 0 10px 0 0;
  transition: background 0.5s;
}
.welcome .phone span:hover {
  background: #444;
}
.welcome .phone span i {
  margin: 0 20px 0 0;
  font-size: 3rem;
}
@media (max-width: 768px) {
  .welcome .phone span {
    display: block;
    text-align: center;
    font-size: 3.5rem;
    margin: 0 0 30px 0;
  }
}
.products {
  margin: 0 0 100px 0;
  padding: 0 0 100px 0;
  border-bottom: 1px solid #ccc;
}
@media (max-width: 500px) {
  .products {
    margin: 0 0 50px 0;
    padding: 0 0 50px 0;
  }
}
.products h2 {
  margin: 0 0 30px 0;
}
.products .categories {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 0 0;
}
@media (max-width: 1024px) {
  .products .categories {
    flex-wrap: wrap;
  }
}
.products .categories .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .products .categories .item {
    width: 50%;
  }
  .products .categories .item:first-child,
  .products .categories .item:nth-child(2) {
    margin: 0 0 90px 0;
  }
}
@media (max-width: 768px) {
  .products .categories .item {
    justify-content: flex-end;
  }
}
@media (max-width: 500px) {
  .products .categories .item {
    width: 100%;
    margin: 0 0 90px 0;
  }
}
.products .categories .item img {
  margin: 0 0 30px 0;
  opacity: 0.7;
}
@media (max-width: 768px) {
  .products .categories .item img {
    max-width: 90%;
    opacity: 1;
  }
}
.products .categories .item img:hover {
  opacity: 1;
}
.gallery {
  margin: 0 0 100px 0;
  padding: 0 0 100px 0;
  border-bottom: 1px solid #ccc;
}
@media (max-width: 500px) {
  .gallery {
    margin: 0 0 50px 0;
    padding: 0 0 50px 0;
  }
}
.gallery h2 {
  margin: 0 0 50px 0;
}
.gallery .references {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gallery .references .item {
  width: 30%;
  margin: 0 0 30px 0;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .gallery .references .item {
    width: 48%;
    border-radius: 5px;
  }
}
@media (max-width: 500px) {
  .gallery .references .item {
    width: 100%;
  }
}
.gallery .references .item img {
  width: 100%;
  opacity: 0.8;
  cursor: zoom-in;
}
@media (max-width: 768px) {
  .gallery .references .item img {
    opacity: 1;
  }
}
.gallery .references .item img:hover {
  opacity: 1;
}
.references .ref {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 0 30px 0;
  max-height: 350px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .references .ref {
    margin: 0 0 40px 0;
    max-height: none;
  }
}
.references .ref > img {
  width: 48%;
  max-height: 350px;
  object-fit: cover;
  cursor: zoom-in;
}
@media (max-width: 768px) {
  .references .ref > img {
    width: 100%;
    margin: 0 0 1rem 0;
  }
}
.references .ref .info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .references .ref .info {
    width: 100%;
  }
}
.references .ref .info h3 {
  margin: 0 0 5px 0;
}
.references .ref .info p {
  font-size: 1.8rem;
}
.references .ref .info .location {
  margin: 0 0 15px 0;
  color: #666;
}
.references .ref .info .p {
  line-height: 2.4rem;
}
.welcome ul {
  font-size: 2rem;
  list-style-type: circle;
  padding: 30px;
}
.welcome ul li {
  line-height: 4rem;
}
.contact-area {
  display: flex;
  justify-content: space-around;
  margin: 0 0 100px 0;
  padding: 0 0 100px 0;
}
@media (max-width: 1024px) {
  .contact-area {
    flex-wrap: wrap;
  }
}
.contact-area form {
  display: flex;
  flex-direction: column;
  width: 48%;
  font-size: 2rem;
  margin: 0 20px 0 0;
}
@media (max-width: 1024px) {
  .contact-area form {
    width: 100%;
  }
}
.contact-area form label {
  display: flex;
  flex-direction: column;
}
.contact-area form input,
.contact-area form textarea,
.contact-area form button {
  margin: 0 0 15px 0;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.contact-area form input {
  height: 40px;
}
.contact-area form button {
  width: 50%;
  border: 0;
  height: 40px;
  align-self: center;
  background: #ddd;
  color: #000;
  font-family: "Marcellus";
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  .contact-area form button {
    width: 100%;
  }
}
.contact-area .map {
  text-align: center;
}
@media (max-width: 1024px) {
  .contact-area .map {
    margin: 100px 0 0 0;
    width: 100%;
  }
}
